/**
 * 
 * @checkbox.css
 *  
 * 
**/
.ui_checkbox{
	display: inline-block;
}
.ui_checkbox input[type=checkbox] {
	position: absolute;
	clip: rect(0,0,0,0); /* IE8+ */
	*left: -999px;
}
.ui_checkbox span{
  display: inline-block;
	vertical-align: middle;
  height: 20px; 
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

.ui_checkbox span::before{
  content: '';
	position: absolute;
  left: 0;
  top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 6px;
	box-sizing: border-box;	
	box-shadow: inset 0 2px, inset 2px 0, inset -2px 0, inset 0 -2px;
	background-color: #fff;
	background-clip: content-box;
	color: rgba(208, 208, 213, 1);
	-webkit-transition: color .2s, background-color .1s;
    transition: color .2s, background-color .1s;
	overflow: hidden;
}

.ui_checkbox:hover :not(:disabled) + span::before{
	color: #ababaf;
}

.ui_checkbox span::after {
	content: '';
	position: absolute;
  left: 1px;
  top: 1px;
	width: 18px;
	height: 18px;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNDcuNTY3LDY3LjU3NWMtMy45NzgtMy4yNDEtNC4zNTYtMy4zMzctOC45LTUuNjM5Yy0yLjA0NC0xLjA0NC01LjA1NywxLjY0NS02LjUzLDMuNjM1TDkyLDExNy43MjgNCglMNjUuODUxLDgzLjk3M2MtMS40NzktMS45ODgtNC4yMDYtMi43Mi02LjI1MS0xLjc4MmMtNC42NTgsMi40MDctNC4xODksMi4zMjYtOC4xNjgsNS40NjZjLTEuODE3LDEuNDY2LTEuOTMyLDQuMDgyLTAuNDU2LDYuMDY1DQoJYzAsMCwyOC4xODMsMzYuNDk5LDMxLjU5Miw0MC44OTZjNC45OTksNi4yNzUsMTQuMDksNS45NjUsMTguODY0LDBjMy41Mi00LjQ5OCw0Ni41OS02MS4wNzgsNDYuNTktNjEuMDc4DQoJQzE0OS40OTksNzEuNTQ5LDE0OS4zODUsNjguOTM3LDE0Ny41NjcsNjcuNTc1eiIvPg0KPC9zdmc+DQo=) no-repeat center;	
	background-size: 18px 18px;
	visibility: hidden;
	-webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -ms-transform: scale(0,0);
  -o-transform: scale(0,0);
  transform: scale(0,0);
	transition: .2s;
}

.ui_checkbox input[type=checkbox]:checked + span::before{
	color: rebeccapurple;
	background-color: rebeccapurple;
}

.ui_checkbox input[type=checkbox]:checked + span::after {
	-webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
	visibility: visible;
}

.ui_checkbox input[type=checkbox]:disabled + span {
	opacity: .7;
  cursor: default;
}

/* error */
.error.ui_checkbox {
	color: #f4615c;
}

/*IE7, IE8 使用图片作UI*/
@media \0screen\,screen\9 {
	.ui_checkbox span:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
		background: url(../img/form_icon.png) -20px 0 no-repeat;
	}
	.ui_checkbox:hover span:before{
		background-position: -20px -20px;
	}
	.ui_checkbox input[type=checkbox][checked] + span:before {
		background-position: -20px -40px;
	}
	.ui_checkbox input[type=checkbox][defaultChecked] + span:before {
		background-position: -20px -40px;
	}
	.ui_checkbox:hover input[type=checkbox][checked] + span {
    background-position: -20px -40px;
		
	}
  .ui_checkbox input[type=checkbox][disabled] + span,
  .ui_checkbox:hover input[type=checkbox][disabled] + span {
    cursor: default;
    filter:alpha(opacity=50);
  }
  .ui_checkbox:hover input[type=checkbox][disabled] + span:before {
    background-position: -20px 0;
  }
}
