/**
 * 
 * @Input.css
 * 
 */


/*disabled X for IE */

input:not([type=search])::-ms-clear {
  display: none;
}


/* reset [type=search] ui */

::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-calendar-picker-indicator {
  display: none;
}

[type=search] {
  -webkit-appearance: none;
  box-sizing: content-box;
}

[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-right: -2px;
  background: url(../img/closes.png) no-repeat;
  cursor: pointer;
}

[type=search]::-webkit-search-cancel-button:hover {
  background-position: 0 -20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
}

input[disabled], input[readonly] {
  cursor: default;
}

.ui_input{
  display: inline-block; 
  position: relative;
}

input.ui_input, .ui_input > input ,.ui_input > textarea {
  height: 20px;
  line-height: 20px;
  padding: 9px 8px;
  border: 1px solid #d0d0d5;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  color: #545a6c;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
}
.ui_input > textarea {
  height: auto;
}

/*ie  placeholder */
@media screen\0 {
  .ui_input{
    background: #fff;
    cursor: text;
  }
  .ui_input input {
    background: none;
  }
  .ui_input:before {
    position: absolute;
    z-index: 1;
    content: attr(placeholder);
    color: darkgrey;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 9px;
  }
  .ui_search_input:before {
    padding-left: 40px;
  }
}

/*ie10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ui_input:before {
    content: '';
  }
}

.ui_input:hover, .ui_input:hover > input  .ui_input:hover > textarea {
  border-color: #ababaf;
}

.ui_input:focus, .ui_input > input:focus,.ui_input > textarea:focus {
  border-color: rebeccapurple;
}

span.ui_input {
  display: inline-block;
}
div.ui_input{
  width: 100%;
}
div.ui_input > input {
  width: 100%;
  height: 40px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div.ui_input > textarea {
  width: 100%;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/* type=[search] with icon */

div.ui_search_input, span.ui_search_input {
  position: relative;
}

.ui_search_input > input {
  padding-left: 40px;
}

.ui_icon_search {
  position: absolute;
  z-index: 2;
  left: 3px;
  top: 1px;
  width: 20px;
  height: 20px;
  border: solid #fff;
  border-width: 9px 8px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  text-indent: -9em;
  cursor: pointer;
  overflow: hidden;
}

.ui_search_input:hover .ui_icon_search {
  background-color: #ababaf;
}

.ui_search_input > input:focus + .ui_icon_search {
  background-color: rebeccapurple;
}

.ui_icon_search, .ui_search_right > .ui_icon_search:after {
  background: #b6bbc6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi+k9lwMRAZYDLwCNAHAnEMkDMDqUjoeL4AZqLfwNxFhAz4MEg+V+4vIxuYApUjBOIG4H4DhD/hNKNUHEGqDqCBh6B8rmA+CgO9Ueh8gxQ9XgjZSqUrgBiKxwhBBIvg7KnEApDcajNdwikjLtQdVKEXPgSSssSiEcZKP2KULIRh9KPCRj4FEqLEjLQEUovJ2DgYihtRygMD5MYy4eJSYfZRKZDEE4C4n+EDPxFRE5hwGcoAw6vgbwTAU0azFA6BohPQQ3BaSgDGSXUXyyG5lNiIDZDhWESLBQUe7OBmA+IFwBxMUyCEexMOhSwZAOAAAMAVJM+EQ2rrOoAAAAASUVORK5CYII=) no-repeat;
}

:root .ui_icon_search, :root .ui_search_right > .ui_icon_search:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik04NC42MjUsMzkuNjI1Yy0yNC44NTQsMC00NSwyMC4xNDYtNDUsNDQuOTk1YzAsMjQuODU4LDIwLjE0Niw0NSw0NSw0NWMyNC44NTQsMCw0NS0yMC4xNDIsNDUtNDUNCgkJQzEyOS42MjUsNTkuNzcxLDEwOS40NzksMzkuNjI1LDg0LjYyNSwzOS42MjV6Ii8+DQoJPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTIwLjYyNCwwSDB2MjAwaDIwLjYyNGgxNTkuNzJIMjAwdi0yMC42NTRWMTkuNjI2VjBIMjAuNjI0eiBNMTY1LjM1LDE3OS4zNDZoLTAuMDExDQoJCWMtMy44MzktMC4wMDEtNy42NzctMS40NjYtMTAuNjA0LTQuMzk0bC0zNS4xNDYtMzUuMTQ2Yy05LjkwMiw2LjExMy0yMS40NjQsOS44MjMtMzMuOTY0LDkuODIzYy0zNS44OTgsMC02NS0yOS4xMS02NS02NS4wMDkNCgkJYzAtMzUuODk4LDI5LjEwMi02NC45OTUsNjUtNjQuOTk1YzM1Ljg5NywwLDY1LDI5LjA5Nyw2NSw2NC45OTVjMCwxMi41LTMuNzAxLDI0LjA2My05LjgxMywzMy45NzRsMzUuMTQ2LDM1LjE0Ng0KCQljMi45MjUsMi45MjUsNC4zODgsNi43NjUsNC4zODgsMTAuNjA0QzE4MC4zNDQsMTY4LjE4NywxNjkuMTg4LDE3OS4zNDUsMTY1LjM1LDE3OS4zNDZ6Ii8+DQo8L2c+DQo8L3N2Zz4NCg==);
  background-size: 20px 20px;
}

.ui_icon_search:active{
  color: red
}

/* type=[search] icon right */

div.ui_search_right {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.ui_search_right > input {
  padding-left: 8px;
}

.ui_search_right > .ui_icon_search {
  left: auto;
  right: 3px;
}


.ui_search_right > input:focus + .ui_icon_search {
  background-color: rebeccapurple;
}

.ui_search_right .ui_placeholder {
  z-index: 1;
}

span.ui_search_right > .ui_placeholder {
  margin-left: 0!important;
  left: 0;
  *left: 9px;
}
.ui_icon_search:hover{
  background-color: rebeccapurple;
}

/* IE7 */

@media screen\9 {
  div.ui_input, span.ui_input {
    height: 20px;
    padding: 9px 8px;
    border: 1px solid #d0d0d5;
    background-color: #fff;
  }
  div.ui_input > input, span.ui_input > input {
    height: 20px;
    border: 0 none;
    padding: 0;
    margin: -1px 0;
    float: none;
  }
  input.ui_input, span.ui_input {
    vertical-align: middle;
  }
  div.ui_search_input, span.ui_search_input {
    padding: 8px 8px 10px 40px;
  }
  div.ui_search_right, span.ui_search_right {
    padding-left: 8px;
    padding-right: 40px;
  }
  .ui_icon_search {
    background-image: url(images/Input/icon_search.png);
    left: 0;
    top: 0;
  }
  span.ui_search_right .ui_icon_search, div.ui_search_right .ui_icon_search {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 0;
  }
}


/* disabled */

.ui_input[disabled]:hover, .ui_input > input[disabled]:hover, .ui_input[readonly]:hover, .ui_input > input[readonly]:hover, .ui_input[readonly]:focus, .ui_input > input[readonly]:focus {
  border-color: #d0d0d5;
}


/* error */

.ui_input.error, .ui_input > .error {
  border-color: #f4615c!important;
}

.valided:invalid {
  border-color: #f4615c!important;
}


/*.ui_input > .error {
	*zoom: expression(this.parentNode.style.borderColor='#f4615c');
}
.ui_input > input {
	*zoom: expression(this.parentNode.style.borderColor='');
}*/