/**
 * 
 * @select.css
 * 
 *
**/


.ui_select {
	display: inline-block;
	*display: inline; *zoom: 1;
	height: 40px;
	vertical-align: middle;
	-webkit-animation: fadeIn .2s;
	animation: fadeIn .2s;
	font-size: 14px;
	position: relative;
}

.ui_select select{
	position: absolute;
	clip: rect(0,0,0,0);
	*left: -999px;
}
.ui_select ~ .ui_button {
	vertical-align: middle;
}
.ui_select.active {
	z-index: 3;
}

.ui_select_button {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 9px 27px 9px 12px;
	color: #545A6C;
	border: 1px solid #d0d0d5;
	border-radius: 4px;
	background-color: #fff;	
	-webkit-transition: border-color .15s, background-color .15s;
	transition: border-color .15s, background-color .15s;
	cursor: pointer;
}

.ui_select_button:hover {
	color: #545A6C;
	border-color: #ababaf;
}

.ui_select select:not(:disabled) ~ .ui_select_button:active {
	background-color: #ededed;
}

.active > a.ui_select_button {
	border-color: #00a5e0;
	border-radius: 4px 4px 0 0;
}

.reverse > .ui_select_button {
	border-radius: 0 0 4px 4px;
}

.ui_select_text {
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.ui_select_icon {
	position: absolute;
	width: 20px;
	height: 20px;	
	/*background: url(img/Select/icon_arrow.png) no-repeat center;*/
	background-size: 20px 20px;
	right: 7px;
	top: 10px;
}
:root .ui_select_icon {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxwYXRoIGZpbGw9IiMwMEE1RTAiIGQ9Ik0xNDUuNjU5LDY4Ljk0OWMtNS4xMDEtNS4yMDgtMTMuMzcyLTUuMjA4LTE4LjQ3MywwTDk5LjQ3OSw5Ny4yMzMNCglMNzEuNzcyLDY4Ljk0OWMtNS4xLTUuMjA4LTEzLjM3MS01LjIwOC0xOC40NzMsMGMtNS4wOTksNS4yMDgtNS4wOTksMTMuNjQ4LDAsMTguODU3bDQ2LjE4LDQ3LjE0bDQ2LjE4MS00Ny4xNA0KCUMxNTAuNzU5LDgyLjU5OCwxNTAuNzU5LDc0LjE1NywxNDUuNjU5LDY4Ljk0OXoiLz4NCjwvc3ZnPg0K);
}


.ui_select_datalist {
	position: absolute;
	left: 0; right:0;
	top: 39px;
	display: none;
	max-height: 300px;
	padding: 0;
	border: 1px solid #00a5e0;
	background-color: #fff;
	overflow: auto;
}

.ui_select_datalist::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.ui_select_datalist::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 8px;
}
.ui_select_datalist::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
.ui_select_datalist::-webkit-scrollbar-track-piece {
  background-color: #ddd;
}

.active > .ui_select_datalist {
	display: block;
}

.reverse > .ui_select_datalist {
	top: auto; bottom: 39px;
}

.ui_select_li {
	display: block;
	line-height: 20px;
	padding: 9px 12px;
	background-color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-transition: background-color .15s;
	transition: background-color .15s;
	overflow: hidden;
	cursor: pointer;
}

.ui_select_li:empty {
	display: none;
}

.ui_select_li:hover {
	background-color: #f2fcff;
}

.ui_select_datalist > .selected {
	background-color: #e0f7ff;
}

/* disabled */
.ui_select select[disabled] ~ .ui_select_button {
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
	border-color: #ababaf;	
}

/* error */
.error .ui_select_button {
	border-color: #f4615c;
}
/*select:invalid + .valided .ui_select_button {
	border-color: #f4615c;
}*/