/**
 * 
 * @tips.css
 *
**/
.ui_tips[data-tips] {
	position: relative;
	overflow: visible;    
}
/* IE8 */
.ui_tips[data-tips]:before,
.ui_tips[data-tips]:after {
  display: block;
  position: absolute;
  bottom: 100%;
  visibility: hidden;
}
.ui_tips[data-tips]:before {
  content: attr(data-tips);
  left: 0;
  margin-bottom: 12px;
  /*max-width: 250px;*/
  padding: 6px 10px;
  line-height: 18px;
  background-color: #373c42;
  text-align: left;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-family: 'microsoft yahei';
  white-space: nowrap;
}
.ui_tips[data-tips]:after {
  content: '';
  left:5px;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top-color: #373c42;
}
.ui_tips[data-tips]:hover:before,
.ui_tips[data-tips]:hover:after {
  visibility: visible;
}
/* 现代浏览器 */
.ui_tips[data-tips]::before,
.ui_tips[data-tips]::after {
  -webkit-transform: translate(-50%,-10px);
  -ms-transform: translate(-50%,-10px);
  transform: translate(-50%,-10px);
  opacity: 0;
  -webkit-transition: .15s .15s;
  transition: .15s .15s;
}
.ui_tips[data-tips]::before {
  left: 50%;
  border-radius: 3px;
}
.ui_tips[data-tips]::after {
  left: 50%;
}
.ui_tips[data-tips]:hover::before,
.ui_tips[data-tips]:hover::after {
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  opacity: 1;
}

/* 下面是JS创建的tips效果 */
.ui_tips_x {
	text-align: center;
	position: absolute;
	z-index: 99;
}
.ui_tips_x .ui_tips_before {
	display: block;
}
.ui_tips_x .ui_tips_after {
	display: block;
	*display: inline-block;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
}

/* 右侧展示的tips效果 */
.ui_tips_rotate {
  margin-left: 10px;
}
.ui_tips_rotate .ui_tips_before {
  max-width: 600px;
}
.ui_tips_rotate .ui_tips_after {
  border-color: transparent #373c42 transparent transparent;
  position: absolute;
  left: -12px; top: 50%;
  margin-top: -6px;
}

/* 错误提示的tips效果 */
.ui_tips_error:not(.none) {
  -webkit-animation: fadeIn .2s, falldown .2s;
  animation: fadeIn .2s, falldown .2s;
}
.ui_tips_error .ui_tips_before {
  background-color: #f4615c;
}
.ui_tips_error .ui_tips_after {
  border-top-color: #f4615c;
}

