:host {
  position: absolute;
  border-radius: var(--border-radius-base, 4px);
  padding: 6px 8px;
  line-height: 22px;
  text-align: start;
  background-color: var(--tips-bg, rgba(0, 0, 0, .88));
  color: var(--tips-color, #fff);
  font-size: 14px;
  width: max-content;
  max-width: 200px;
  visibility: hidden;
  opacity: .5;
  transition: opacity .05s, visibility .05s, transform 0s .1s;
  --s: .5;
  transform: translate(var(--x), var(--y)) scale(var(--s))
}

:host(:is([show],[open],:hover)) {
  transition: var(--transition, .2s);
  --s: 1;
  opacity: 1;
  visibility: visible;
}

:host::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z')
}

/* success */
:host([type=success]){
  --tips-bg: var(--success-color,#52c41a);
}
/* error */
:host([type=error]){
  --tips-bg: var(--error-color,#f4615c);
}
/* warning */
:host([type=warning]){
  --tips-bg: var(--waring-color,#faad14);
}

/* dir */
:host([dir=top]) {
  transform-origin: bottom;
  left: calc((var(--left) + var(--right) ) * .5px);
  top: calc(var(--top) * 1px);
  --x: -50%;
  --y: -100%;
}

:host([dir=top])::before{
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) scaleY(-1);
}

:host([dir=top]:is([show],[open],:hover)) {
  --y: calc(-100% - 12px);
}

:host([dir=TL]) {
  transform-origin: left bottom;
  left: calc( var(--left) * 1px);
  top: calc(var(--top) * 1px);
  --x: 0%;
  --y: -100%;
}

:host([dir=TL])::before{
  left: 8px;
  bottom: 0;
  transform: translate(0%, 50%) scaleY(-1);
}

:host([dir=TL]:is([show],[open],:hover)) {
  --y: calc(-100% - 12px);
}

:host([dir=TR]) {
  transform-origin: right bottom;
  left: calc( var(--right) * 1px);
  top: calc(var(--top) * 1px);
  --x: -100%;
  --y: -100%;
}

:host([dir=TR])::before{
  right: 8px;
  bottom: 0;
  transform: translate(0%, 50%) scaleY(-1);
}

:host([dir=TR]:is([show],[open],:hover)) {
  --y: calc(-100% - 12px);
}

:host([dir=LT]) {
  transform-origin: right top;
  left: calc( var(--left) * 1px);
  top: calc(var(--top) * 1px);
  --x: -100%;
  --y: 0%;
}

:host([dir=LT])::before{
  right: 0;
  top: 8px;
  transform: translate(50%, 0%) rotate(90deg);
}

:host([dir=LT]:is([show],[open],:hover)) {
  --x: calc(-100% - 12px);
}

:host([dir=left]) {
  transform-origin: right;
  left: calc( var(--left) * 1px);
  top:  calc((var(--top) + var(--bottom) ) * .5px);
  --x: -100%;
  --y: -50%;
}

:host([dir=left])::before{
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(90deg);
}

:host([dir=left]:is([show],[open],:hover)) {
  --x: calc(-100% - 12px);
}

:host([dir=LB]) {
  transform-origin: right top;
  left: calc( var(--left) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: -100%;
  --y: -100%;
}

:host([dir=LB])::before{
  right: 0;
  bottom: 8px;
  transform: translate(50%, 0%) rotate(90deg);
}

:host([dir=LB]:is([show],[open],:hover)) {
  --x: calc(-100% - 12px);
}

:host([dir=RT]) {
  transform-origin: left top;
  left: calc( var(--left) * 1px);
  top: calc(var(--top) * 1px);
  --x: 100%;
  --y: 0%;
}

:host([dir=RT])::before{
  left: 0;
  top: 8px;
  transform: translate(-50%, 0%) rotate(-90deg);
}

:host([dir=RT]:is([show],[open],:hover)) {
  --x: calc(100% + 12px);
}

:host([dir=right]) {
  transform-origin: left;
  left: calc( var(--left) * 1px);
  top: calc((var(--top) + var(--bottom) ) * .5px);
  --x: 100%;
  --y: -50%;
}

:host([dir=right])::before{
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

:host([dir=right]:is([show],[open],:hover)) {
  --x: calc(100% + 12px);
}

:host([dir=RB]) {
  transform-origin: left bottom;
  left: calc( var(--left) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: 100%;
  --y: -100%;
}

:host([dir=RB])::before{
  left: 0;
  bottom: 8px;
  transform: translate(-50%, 0%) rotate(-90deg);
}

:host([dir=RB]:is([show],[open],:hover)) {
  --x: calc(100% + 12px);
}

:host([dir=bottom]) {
  transform-origin: top;
  left: calc((var(--left) + var(--right) ) * .5px);
  top: calc(var(--bottom) * 1px);
  --x: -50%;
  --y: 0%;
}

:host([dir=bottom])::before{
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

:host([dir=bottom]:is([show],[open],:hover)) {
  --y: 12px;
}

:host([dir=BL]) {
  transform-origin: left top;
  left: calc(var(--left) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: 0%;
  --y: 0%;
}

:host([dir=BL])::before{
  left: 8px;
  top: 0;
  transform: translate(0%, -50%);
}

:host([dir=BL]:is([show],[open],:hover)) {
  --y: 12px;
}

:host([dir=BR]) {
  transform-origin: right top;
  left: calc(var(--right) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: -100%;
  --y: 0%;
}

:host([dir=BR])::before{
  right: 8px;
  top: 0;
  transform: translate(0%, -50%);
}

:host([dir=BR]:is([show],[open],:hover)) {
  --y: 12px;
}