<template id="select-template">
    <style>
        .select{
            display: inline-block;
            position: relative;
        }
        .select-label{
            white-space: nowrap;
            border: 1px solid var(--theme,royalblue);
            background: #fff;
            line-height: 34px;
            padding: 0 5px;
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
        }

        .select-current{
            display: inline-block;
        }

        .select-arrow{
            display: inline-block;
            border-style: solid;
            border-width:5px 5px 0;
            transition: .3s;
            vertical-align: middle;
            border-color: var(--theme,royalblue) transparent transparent transparent;
        }

        .select-content{
            position: absolute;
            border: 1px solid var(--theme,royalblue);
            box-sizing: border-box;
            min-width: 100%;
            transition: .3s;
            border-radius: 3px;
            background: #fff;
            z-index: 2;
        }

        .select[data-visible=false] .select-content{
            visibility: hidden;
            transform: scale(0);
            transform-origin: left top;
            opacity: 0;
        }

        .select[data-visible=true] .select-content{
            visibility: visible;
            transform: scale(1);
            opacity: 1;
        }

        .select[data-visible=true] .select-arrow{
            transform: rotate(180deg);
        }
    </style>
    <div class="select" id="select-root" data-visible="false">
        <div class="select-label">
            <div class="select-current" id="select-current"></div>
            <i class="select-arrow" id="select-arrow"></i>
        </div>
        <div class="select-content" id="select-content">
            <slot>NEED CONTENT</slot>
        </div>
    </div>
</template>
<template id="option-template">
    <style>
        .option {
            box-sizing: border-box;
            line-height: 34px;
            padding: 0 5px;
            white-space: normal;
            cursor: pointer;
            font-size: 14px;
        }
        .option:hover{
            background: var(--theme,royalblue);
            color: #fff;
        }
    </style>
    <div class="option" id="option" data-selected="false">
        <slot></slot>
    </div>
</template>
<script>
    (function () {

        //XyTab
        class XySelect extends HTMLElement {

            static get observedAttributes() { return ["selected"]; }

            constructor() {
                super();
                //const template = document.currentScript.ownerDocument.getElementById('select-template').content;
                const template = document.querySelector("#xy-select").import.getElementById('select-template').content;
                const root = template.cloneNode(true);
                this.selectRoot = root.getElementById('select-root');
                this.selectContent = root.getElementById('select-content');
                this.selectCurrent = root.getElementById('select-current');
                // this.tabCon = root.getElementById('tab-wrap');
                // this.tabline = root.getElementById('tabline');
                // this.tabs = root.querySelector('.tab-nav-wrap');
                const shadowRoot = this.attachShadow({ mode: 'open' }).appendChild(root);
                this._render();
            }

            connectedCallback() {
                document.addEventListener('click',(ev)=>{
                    this.visible = false;
                },false)
                this.selectRoot.addEventListener('click',(ev)=>{
                    ev.stopPropagation();
                    if (ev.target.tagName == 'XY-OPTION') {
                        this.selected = ev.target.getAttribute("value");
                        this.visible = false;
                    }else{
                        this.visible = true;
                    }
                },false)
            }

            attributeChangedCallback(name, oldValue, newValue) {
                if (name == 'selected') {
                    if (oldValue !== newValue) {
                        this._render(oldValue);
                    }
                }

            }

            _render(pre) {
                const child = Array.from(this.children);
                const current = child.find(el => this.selected == el.getAttribute("value"))||child[0];
                const preChild = child.find(el => pre == el.getAttribute("value"));
                if(preChild){
                    preChild.selected = false;
                }
                current.option&&(current.selected = true);
                this.selectCurrent.innerHTML = current.innerHTML;
            }

            get selected() {
                return this.getAttribute('selected');
            }

            set selected(selected) {
                this.setAttribute('selected', selected);
                this.dispatchEvent(new CustomEvent('onSelect', { detail: selected }));
            }

            get visible() {
                return this._visible || false;
            }

            set visible(_visible) {
                this._visible = _visible;
                this.selectRoot.dataset.visible = _visible;
            }

        }
        //XyOption
        const _load = Symbol('_load');
        class XyOption extends HTMLElement {
            static get observedAttributes() { return ["selected"]; }
            constructor() {
                super();
                const template = document.querySelector("#xy-select").import.getElementById('option-template').content;
                //const template = document.currentScript.ownerDocument.getElementById('option-template').content;
                const root = template.cloneNode(true);
                this.option = root.getElementById('option');
                const shadowRoot = this.attachShadow({ mode: 'open' }).appendChild(root);
                this._selected = false;
            }

            connectedCallback() {

            }

            get selected() {
                return this._selected;
            }

            set selected(selected) {
                this._selected = selected;
                this.option.dataset.selected = selected;
            }

        }
        customElements.define('xy-select', XySelect);
        customElements.define('xy-option', XyOption);
    })()
</script>