.pop {
  border-radius: var(--border-radius-base, 4px);
  background-color: var(--primary-bg, #fff);
  filter: drop-shadow(var(--shadow));
  opacity: 0;
  padding: 4px;
}

:host([type=custom]) .pop{
  --pad: 10px;
}

:host([trigger*=contextmenu]) .pop{
  --pad: 0;
  transition: 0s;
  width: max-content;
}

:host(:not([type=custom])) .pop::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z')
}
