:root {
  --vp-c-brand: #646cff;
  --vcp-c-brand: var(--vp-c-brand);
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, .08);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #0066FF, #CC66FF);
  --vp-home-hero-image-background-image: linear-gradient( -90deg, #0066FF 50%, #CC66FF 50% );
  --vp-home-hero-image-filter: blur(72px);
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}
:root .vp-doc blockquote{
  border-color: var(--vp-c-brand);
}
:root .VPNav{
  backdrop-filter: saturate(50%) blur(8px);
  background: rgba(255,255,255,.7);
}
:root .VPNavBar.has-sidebar .content-body{
  background-color: transparent;
}
:root.dark .VPNav{
  background-color: rgba(36,36,36,.7);
}
:root .curtain{
  display: none;
}
:root .name{
  padding-bottom: .5em;
}
:root .VPNav .title{
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 24px;
  font-family: initial;
}
.image{
  transform: scale(.8);
}
.blog-search .nav-search-btn-wait svg{
  stroke-width: 2px;
  color: var(--vp-c-text-1);
}
.blog-search[style*="1"] .nav-search-btn-wait{
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 6px 10px 6px 12px!important;
  transition: .2s;
  background-color: var(--vp-c-bg-alt);
}
:root .blog-search[style*="0"] .nav-search-btn-wait{
  border: 0;
}