:host{
  display:inline-flex;
  align-items: center;
  justify-content:center;
  color:var(--primary-color,#42b983);
}
.loading{
  width: 1em;
  height: 1em;
  margin: auto;
  animation: rotate 1.4s linear infinite;
}
.circle {
  stroke: currentColor;
  animation:  progress 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  transition:.3s;
}
:host(:not(:empty)) .loading{
  margin:.5em;
}
@keyframes rotate{
  to{
      transform: rotate(360deg); 
  }
}
@keyframes progress {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px; 
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; 
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px; 
  } 
}