:host{
  display:inline-flex;
  align-items: center;
  justify-content:center;
  color:var(--primary-color,royalblue);
}
.loading{
  width: 1em;
  height: 1em;
  margin: auto;
  animation: rotate 1s linear infinite;
  background: currentColor;
  -webkit-mask: 
  radial-gradient( closest-side circle, red 50%, transparent 51% 99%, red 100%),
  radial-gradient( closest-side circle, red 99%, transparent 100%) center top/25% 25% no-repeat,
  conic-gradient(transparent 10%, red 90%);
  -webkit-mask-composite: destination-out, destination-over;
}
:host(:not(:empty)) .loading{
  margin:.5em;
}
@keyframes rotate{
  to{
      transform: rotate(360deg); 
  }
}