:host{ 
  display: inline-flex;
  gap: 8px;
  align-items: center;
  --primary-color-opacity-600: color-mix(in srgb, var(--primary-color) 60%, transparent);
}
.radio{
  position: relative;
  appearance: none;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  cursor: inherit;
  border-radius: 50%;
  border: 1px solid var(--border-color, #d9d9d9);
  outline-color: var(--primary-color-opacity-600);
  outline-width: 2px;
  outline-offset: 1px;
  transition: var(--transition, .2s);
  cursor: pointer;
}
.radio:not(:disabled):is(:hover, :active){
  filter: brightness(1.2);
}
.radio:checked{
  border-width: 5px;
  border-color: var(--primary-color, royalblue);
}

.radio::after{
  content: '';
  position: absolute;
  inset: -8px;
}

.radio:disabled{
  opacity: .6;
}

.radio:focus-visible {
  outline-style: solid;
}

.label{
  display: contents;
  cursor: pointer;
}

.radio:disabled{
  cursor: default;
}

:disabled+label {
  cursor: default;
  color: var(--disabled-color, rgba(0, 0, 0, .25));
}

.radio:not(:disabled):hover{
  border-color: var(--primary-color, royalblue)
}