:host {
  position: absolute;
  visibility: hidden;
  opacity: .5;
  transition: opacity .05s, visibility .05s, transform 0s .1s;
  --s: .5;
  --pad: 12px;
  transform: translate(var(--x), var(--y)) scale(var(--s));
  z-index: 10;
}

:host([auto]) {
  transition: transform 0s!important;
}

:host(:is([show],[open],:hover)) {
  transition: var(--transition, .2s);
  --s: 1;
  opacity: 1;
  visibility: visible;
}

/* dir */
:host([dir=top]) {
  transform-origin: bottom;
  left: calc((var(--left) + var(--right) ) * .5px + var(--offset-x, 0) * 1px);
  top: calc(var(--top) * 1px);
  --x: -50%;
  --y: -100%;
}

:host([dir=top])::before{
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%) scaleY(-1);
}

:host([dir=top]:is([show],[open],:hover)) {
  --y: calc(-100% - var(--pad));
}

:host([dir=TL]) {
  transform-origin: left bottom;
  left: calc( var(--left) * 1px);
  top: calc(var(--top) * 1px);
  --x: 0%;
  --y: -100%;
}

:host([dir=TL])::before{
  left: 8px;
  bottom: 0;
  transform: translate(0%, 50%) scaleY(-1);
}

:host([dir=TL]:is([show],[open],:hover)) {
  --y: calc(-100% - var(--pad));
}

:host([dir=TR]) {
  transform-origin: right bottom;
  left: calc( var(--right) * 1px);
  top: calc(var(--top) * 1px);
  --x: -100%;
  --y: -100%;
}

:host([dir=TR])::before{
  right: 8px;
  bottom: 0;
  transform: translate(0%, 50%) scaleY(-1);
}

:host([dir=TR]:is([show],[open],:hover)) {
  --y: calc(-100% - var(--pad));
}

:host([dir=LT]) {
  transform-origin: right top;
  left: calc( var(--left) * 1px);
  top: calc(var(--top) * 1px);
  --x: -100%;
  --y: 0%;
}

:host([dir=LT])::before{
  right: 0;
  top: 8px;
  transform: translate(50%, 0%) rotate(90deg);
}

:host([dir=LT]:is([show],[open],:hover)) {
  --x: calc(-100% - var(--pad));
}

:host([dir=left]) {
  transform-origin: right;
  left: calc( var(--left) * 1px);
  top: calc((var(--top) + var(--bottom) ) * .5px + var(--offset-y, 0) * 1px);
  --x: -100%;
  --y: -50%;
}

:host([dir=left])::before{
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(90deg);
}

:host([dir=left]:is([show],[open],:hover)) {
  --x: calc(-100% - var(--pad));
}

:host([dir=LB]) {
  transform-origin: right top;
  left: calc( var(--left) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: -100%;
  --y: -100%;
}

:host([dir=LB])::before{
  right: 0;
  bottom: 8px;
  transform: translate(50%, 0%) rotate(90deg);
}

:host([dir=LB]:is([show],[open],:hover)) {
  --x: calc(-100% - var(--pad));
}

:host([dir=RT]) {
  transform-origin: left top;
  left: calc( var(--right) * 1px);
  top: calc(var(--top) * 1px);
  --x: 0%;
  --y: 0%;
}

:host([dir=RT])::before{
  left: 0;
  top: 8px;
  transform: translate(-50%, 0%) rotate(-90deg);
}

:host([dir=RT]:is([show],[open],:hover)) {
  --x: var(--pad);
}

:host([dir=right]) {
  transform-origin: left;
  left: calc( var(--right) * 1px);
  top: calc((var(--top) + var(--bottom) ) * .5px + var(--offset-y, 0) * 1px);
  --x: 0%;
  --y: -50%;
}

:host([dir=right])::before{
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

:host([dir=right]:is([show],[open],:hover)) {
  --x: var(--pad);
}

:host([dir=RB]) {
  transform-origin: left bottom;
  left: calc( var(--right) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: 0%;
  --y: -100%;
}

:host([dir=RB])::before{
  left: 0;
  bottom: 8px;
  transform: translate(-50%, 0%) rotate(-90deg);
}

:host([dir=RB]:is([show],[open],:hover)) {
  --x: var(--pad);
}

:host([dir=bottom]) {
  transform-origin: top;
  left: calc((var(--left) + var(--right) ) * .5px + var(--offset-x, 0) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: -50%;
  --y: 0%;
}

:host([dir=bottom])::before{
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

:host([dir=bottom]:is([show],[open],:hover)) {
  --y: var(--pad);
}

:host([dir=BL]) {
  transform-origin: left top;
  left: calc(var(--left) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: 0%;
  --y: 0%;
}

:host([dir=BL])::before{
  left: 8px;
  top: 0;
  transform: translate(0%, -50%);
}

:host([dir=BL]:is([show],[open],:hover)) {
  --y: var(--pad);
}

:host([dir=BR]) {
  transform-origin: right top;
  left: calc(var(--right) * 1px);
  top: calc(var(--bottom) * 1px);
  --x: -100%;
  --y: 0%;
}

:host([dir=BR])::before{
  right: 8px;
  top: 0;
  transform: translate(0%, -50%);
}

:host([dir=BR]:is([show],[open],:hover)) {
  --y: var(--pad);
}